{% extends "newspaper/base.html" %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">The News Paper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Premium News</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Premium News!</h1>
            {% if not user.is_authenticated %}
                <p class="lead">Please login or signup in order to take the subscription to read premium newses!</p>
                <a href="/accounts/login" class="btn btn-primary">Login</a>
            {% else %}
                {% if not user_premium %}
                    <p class="lead">You must pay the subscription in order to visit premium news</p>
                    <button id="submitBtn" class="btn btn-primary">Subscribe now!</button>
                {% else %}
                    <p class="lead">Enjoy premium news!</p>
                {% endif %}
            {% endif %}
        </header>

        <!-- Page Features -->
        <div class="row text-center">
            {% if newses %}
                {% for item in newses %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">{{ item.title }}</h4>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            <div class="card-footer">
                                {% if user.is_authenticated %}
                                    <a href="#" class="btn btn-primary">Find Out More!</a>
                                {% else %}
                                    <a href="/accounts/login" class="btn btn-primary">Find Out More!</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}